.svg {
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  padding: 2px;
  height: 24px;
  width: 24px;
}

.circle {
  fill: none;
  stroke: white;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  animation: drawCircle 400ms forwards ease-in;
}

.checkmark {
  fill: none;
  stroke: transparent;
  stroke-dasharray: 30px;
  stroke-dashoffset: 30px;
  animation: drawCheckmark 900ms forwards;
}

@keyframes drawCheckmark {
  to {
    stroke: #0f62fe;
    stroke-dashoffset: 0;
  }
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
    fill: white;
  }
}
