.container {
  position: relative;
}

.fadeout {
  pointer-events: none;
  position: absolute;
  bottom: $spacing-03;
  transition: opacity $duration--fast-02 motion(standard, productive);
  opacity: 1;
  width: calc(100% - 1rem);
  background: linear-gradient(transparent, var(--cds-ui-01));
  height: 3rem;
}

.container:focus-within .fadeout {
  opacity: 0;
}
