.dialog {
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--cds-ui-background);
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  width: 0;
  height: 0;
  opacity: 0;
  margin-top: 456px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10000; /* old z('floating') #940 */
  transition-property: width, height, opacity;
  transition-duration: 250ms;
  transition-delay: 70ms, 0ms;
  transition-timing-function: motion(standard, expressive);
}

.dialog-active {
  height: 456px;
  width: 320px;
  opacity: 1;
  margin-top: 0;
  transition-property: width, height;
  transition-duration: 120ms, 200ms;
  transition-delay: 0ms, 40ms;
  transition-timing-function: motion(entrance, expressive);
}

.dialog > div {
  display: flex;
  flex-direction: column;
  height: 456px;
  justify-content: space-between;
}

.form-container {
  position: relative;
  padding: $spacing-05;
  padding-bottom: $spacing-08;
  color: var(--cds-text-02);
  width: 100%;
  top: 200px;
  opacity: 0;
  transition-duration: 350ms;
  transition-timing-function: motion(entrance, expressive);
}

.form-container-active {
  position: relative;
  padding: $spacing-05;
  padding-bottom: $spacing-08;
  color: var(--cds-text-02);
  width: 100%;
  top: 0px;
  opacity: 1;
  transition-duration: 250ms;
  transition-delay: 40ms;
  transition-timing-function: motion(entrance, expressive);
}

.form-container h2 {
  @include carbon--type-style('productive-heading-01');
  padding-bottom: $spacing-03;
  border-bottom: 1px solid var(--cds-ui-03);
}

.form-container legend {
  @include carbon--type-style('label-01');
}

.form-container label {
  @include carbon--type-style('label-01');
}

.form-container form > * {
  margin-top: $spacing-05;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.buttonRow {
  height: 0;
  margin-top: 4rem; //used to transition height from bottom
  overflow: hidden;
  transition: all 210ms motion(entrance, productive);
  transition-delay: 120ms;
}

.buttonRow-active {
  height: 4rem;
  margin-top: 0;
  transition: all 120ms motion(entrance, productive);
  transition-delay: 170ms;
}

.button {
  height: 4rem;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 50%;
  max-width: 50%;
  line-height: 1;
  border-width: 2px;
}
