.dialog {
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--cds-ui-background);
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  width: 0;
  height: 0;
  margin-top: 456px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10000; /* old z('floating') #940 */
  transition: width $duration--slow-01 motion(exit, productive),
    height $duration--moderate-01 motion(exit, productive),
    margin-top $duration--moderate-01 motion(exit, productive);
}

.dialog-active {
  height: 456px;
  width: 320px;
  margin-top: 0;
  transition: width $duration--moderate-01 motion(entrance, productive),
    height $duration--slow-01 motion(entrance, productive),
    margin-top $duration--slow-01 motion(entrance, productive);
  @include carbon--breakpoint('md') {
    height: 436px;
  }
}

.form-container {
  padding: $spacing-05;
  padding-bottom: $spacing-08;
  color: var(--cds-text-02);
  width: 100%;
}

.form-container h2 {
  @include carbon--type-style('productive-heading-01');
  padding-bottom: $spacing-03;
  border-bottom: 1px solid var(--cds-ui-03);
}

.form-container label,
.form-container legend {
  @include carbon--type-style('label-01');
}

.form-container form > * {
  margin-top: $spacing-05;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.buttonRow {
  height: 0;
  margin-top: 4rem; //used to transition height from bottom
  overflow: hidden;
  transition: all 300ms motion(entrance, productive);
  transition-delay: 15ms;
}

.button-row-active {
  height: 4rem;
  margin-top: 0;
}

.button {
  height: 4rem;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 50%;
  max-width: 50%;
  line-height: 1;
  border-width: 2px;
}
