.button {
  width: $spacing-09;
  height: $spacing-09;
  border-radius: 50%;
  border-color: transparent;
  background: var(--cds-ui-background);
  transition: all $transition--base;

  cursor: pointer;
  z-index: 9999;
  padding-top: 0.325rem;
}

.button:hover {
  background: #4c4c4c; // g90 hover ui
  border-color: transparent;
}

.button:focus {
  outline: none;
  border: 2px solid $focus;
}

.button svg {
  fill: var(--cds-icon-02);
}

.button:hover svg {
  fill: var(--cds-icon-01);
}
