.button {
  width: $spacing-09;
  height: $spacing-09;
  border-radius: 50%;
  border-color: transparent;
  background: var(--cds-ui-03);
  transition: all $transition--base;

  cursor: pointer;
  z-index: 9999;
  padding-top: 0.325rem;
}

.button:hover {
  background: var(--cds-active-01); // g90 hover ui
  border-color: transparent;
}

.button:focus {
  outline: none;
  border: 2px solid $focus;
  box-shadow: inset 0 0 0 1px #fff;
}

.button svg {
  fill: var(--cds-icon-02);
}

.button:hover svg {
  fill: var(--cds-icon-01);
}
