.button {
  width: $spacing-09;
  height: $spacing-09;
  border-radius: 50%;
  border-color: transparent;
  background: $interactive-02;
  transition: all $duration-fast-02;
  z-index: 9000;
  padding-top: 0.325rem;
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: $spacing-05;

  @include breakpoint('md') {
    bottom: 6.5rem;
    right: $spacing-07;
  }
}

.button svg {
  fill: $icon-03;
}

.button:hover {
  background: $hover-secondary;
}

.button:focus {
  outline: none;
  border: 2px solid $inverse-focus-ui;
  box-shadow: inset 0 0 0 1px $focus-inset;
}

[class*='container--dark'] {
  .button {
    background: $gray-60;
    &:hover {
      background: #606060;
    }
  }
}
