// Homepage inverse colors
.container--homepage {
  background: $carbon--gray-100;
  color: $carbon--white-0;

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    color: $carbon--white-0;
  }

  a {
    color: $carbon--blue-40;
  }
}

// Homepage image header area

.homepage--header {
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  position: relative;

  // Match max height at lg breakpoint
  @include carbon--breakpoint("lg") {
    padding: 0;
    height: 560px;
  }
}

.homepage--header .#{$prefix}--grid,
.homepage--header .#{$prefix}--row {
  height: 100%;
}

.container--homepage h3.homepage--header__title {
  @include carbon--type-style("expressive-heading-03", true);
  display: none;
  font-weight: 600;
  position: absolute;
  bottom: 3.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 3;

  @include carbon--breakpoint("md") {
    display: block;
  }
}

.homepage--header img {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25%;
}

// Headings on homepage

.container--homepage h3,
.container--homepage .page-content > div > .#{$prefix}--row:first-child h3 {
  @include carbon--type-style("expressive-heading-03", true);
  margin-top: rem(64px);
  margin-bottom: $spacing-lg;
}

.container--homepage .page-content > div > .#{$prefix}--row:first-child h3 {
  margin-top: 0;
}

// Homepage callout component (header/footer)

.homepage--callout {
  position: relative;
  z-index: 2;
  padding-top: 4rem;
  padding-bottom: 7rem;
  background: $carbon--black-100;
}

.homepage--callout--blue {
  background-color: $carbon--blue-90;
  z-index: 2;
}

.homepage--callout a {
  color: $carbon--white-0;
}

.homepage--footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homepage--callout h2 {
  margin-bottom: 0;
}

.homepage--callout h3 {
  margin: 0 0 4rem 0;
}

.homepage--callout--blue a {
  display: flex;
  align-items: center;
  color: $carbon--blue-40;
  text-decoration: none;
  margin-top: $spacing-lg;
}

.homepage--callout--blue a:hover {
  text-decoration: underline;
}

.homepage--callout--blue svg {
  margin-left: $spacing-md;
  fill: $carbon--blue-40;
}

// Dots background pattern

.homepage--dots {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3e%3crect width='16' fill='none' height='16'/%3e%3crect x='0' y='0' fill='white' width='1' height='1'/%3e%3c/svg%3e");
  background-size: 16px;
  opacity: 0.25;
}

// Needed for dots to appear below content

.container--homepage .#{$prefix}--row {
  position: relative;
  z-index: 2;
}
