.main {
  padding-bottom: 80px;
  --space: 1.5rem;
}

.main > * {
  margin-top: 0;
  margin-bottom: 0;
}

.main > * + * {
  margin-top: 1.5rem; // IE fallback
  margin-top: var(--space);
}

[class*='--col'] > * + * {
  margin-top: 1.5rem;
  margin-top: var(--space);
}

.padded {
  min-height: calc(100vh - 40rem);
  padding-top: 80px;
  padding-bottom: $layout-07;
  & > :first-child {
    margin-top: 0;
  }
}
