.side-nav--dark :global(.bx--side-nav__link):focus,
.side-nav--dark :global(.bx--side-nav__submenu):focus {
  outline: 2px solid $carbon--white-0;
}

.current-item {
  background-color: #dcdcdc !important;
}

.current-item span {
  color: $ui-05;
}

.resource-link {
  &:first-of-type {
    margin-top: $spacing-05;
  }
}
// Moves icons to the right
.outboundLink {
  flex-direction: row-reverse;
  justify-content: space-between;
}

// Icons
.outboundLink div {
  display: inline-block !important;
  flex: 0;
}

// Style overrides waiting for UI Shell theming
.link-text {
  color: inherit;
}

.link-text__active {
  color: $ui-05;
}

/* stylelint-disable */
// Padding overrides for top level menu items
:global {
  .bx--side-nav__items > .bx--side-nav__item > .bx--side-nav__link span {
    padding-left: 0 !important;
  }
  .bx--side-nav__items > .bx--side-nav__item > .bx--side-nav__submenu span {
    padding-left: 0 !important;
  }

  //dark
  // active item background color
  .bx--side-nav--website--dark
    .bx--side-nav__menu[role='menu']
    a.bx--side-nav__link--current,
  .bx--side-nav--website--dark
    .bx--side-nav__menu[role='menu']
    a.bx--side-nav__link[aria-current='page'],
  .bx--side-nav--website--dark a.bx--side-nav__link--current,
  .bx--side-nav--website--dark
    .bx--side-nav__item--active
    .bx--side-nav__submenu[aria-expanded='false'] {
    background-color: #282828 !important;
  }

  // text hover color
  .bx--side-nav--website--dark
    .bx--side-nav__item:not(.bx--side-nav__item--active)
    > .bx--side-nav__link:hover
    > span,
  .bx--side-nav--website--dark
    .bx--side-nav__item:not(.bx--side-nav__item--active)
    .bx--side-nav__menu-item
    > .bx--side-nav__link:hover
    > span {
    color: $carbon--white-0;
  }

  //active title
  .bx--side-nav--website--dark
    .bx--side-nav__item--active
    .bx--side-nav__submenu-title {
    color: $carbon--white-0;
  }
}
/* stylelint-enable */

//active sub-item
:global(.bx--side-nav--website--dark) .link-text__active {
  color: $carbon--white-0;
}
