@import '~carbon-components/scss/globals/scss/vars';

.current-item {
  background-color: #dcdcdc !important;
}

.current-item span {
  color: #171717;
}

.resource-link {
  &:first-of-type {
    margin-top: $spacing-05;
  }
}
// Moves icons to the right
.outboundLink {
  flex-direction: row-reverse;
  justify-content: space-between;
}

// Icons
.outboundLink div {
  display: inline-block !important;
  flex: 0;
}
