.leftNavWrapper {
  transition: transform 0.15s cubic-bezier(0.2, 0.2, 0.38, 0.9), top 110ms;
  width: 256px;
  position: fixed;
  top: 0px;
  bottom: 0;
  z-index: 9999;
  scrollbar-width: none;
  transform: translateX(-256px);

  & :global(.bx--side-nav) {
    box-shadow: none !important;
  }

  // LeftNav default style in desktop view.
  @include carbon--breakpoint("lg") {
    transform: translateX(0px);
  }
}

// HeaderNavigation default style in desktop view (hide LeftNav).
.useHeaderNavStyles.leftNavWrapper {
  @include carbon--breakpoint("lg") {
    transform: translateX(-256px);
  }
}

// Transition expanded LeftNav in mobile back to HeaderNavigation in dektop view.
.useHeaderNavStyles.expanded {
  @include carbon--breakpoint("lg") {
    transform: translateX(-256px);
  }
}

.leftNavWrapper :global(.bx--side-nav__navigation) {
  padding-top: 0;
  padding-bottom: 48px;
}

// Expand LeftNav in mobile for both HeaderNavigation & LeftNav default templates.
.expanded {
  transform: translateX(0px);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  @include carbon--breakpoint("lg") {
    box-shadow: none;
  }
}
