@use '@carbon/react/scss/theme' as theme;

// White theme

nav.side-nav--white {
  background-color: $white-0;
  border-right: 1px solid $gray-20;
}

// Dark theme

nav.side-nav--dark {
  padding-top: $spacing-05;
  background-color: $gray-100;
  border-right: 1px solid $gray-80;
}

// Chevron color
nav.side-nav--dark :global(svg) {
  fill: $gray-30;
}

// Font color for accordion listed items in the nav
.side-nav--dark :global(.cds--side-nav__submenu) {
  color: $gray-30;
}

// Font color for non-accordion listed items in the nav. Carbon upstream styles make it extremely challenging to pin down this style.
.side-nav--dark :global(.cds--side-nav__link-text) {
  color: $gray-30 !important;
}

// Outline color for nav items
.side-nav--dark :global(.cds--side-nav__link):focus,
.side-nav--dark :global(.cds--side-nav__submenu):focus {
  outline: 2px solid $white-0;
}

// Font and background color for accordion listed items in the nav on hover. Carbon upstream styles make it extremely challenging to pin down this style.
.side-nav--dark :global(.cds--side-nav__submenu):hover {
  background-color: $gray-80 !important;
  color: $gray-10;
}

// Background for non-accordion listed items on hover. Carbon upstream styles make it extremely challenging to pin down this style.
.side-nav--dark :global(.cds--side-nav__link):hover {
  background-color: $gray-80 !important;
}

// Font color for top-level accordion items
.side-nav--dark
  :global(.cds--side-nav__item--active)
  :global(.cds--side-nav__submenu-title) {
  color: $gray-30;
}

// Icons
.outboundLink
  :global(.cds--side-nav__icon:not(.cds--side-nav__submenu-chevron)) {
  display: inline-block;
  flex: 0;
  margin-right: 0;
  height: 1rem;
}

// Background for selected top level accordion when *not* hovering
.side-nav--dark
  :global(
    .cds--side-nav__item--active .cds--side-nav__submenu[aria-expanded='false']
  ) {
  background: $gray-80;
}

// Font color for non-accordion listed items when hovering over the <li>. Carbon upstream styles make it extremely challenging to pin down this style.
.side-nav--dark
  :global(.cds--side-nav__link):hover
  > :global(.cds--side-nav__link-text) {
  color: $gray-10 !important;
}

// Background color for nested accordion items
.side-nav--dark.side-nav--dark
  :global(
    .cds--side-nav__menu .cds--side-nav__link.cds--side-nav__link--current
  ) {
  background: $gray-80;
}

.current-item span {
  color: $ui-05;
}

// Dark theme current selected nav item
nav.side-nav--dark a.current-item {
  background-color: $gray-80;
}

[class*='--side-nav--dark'] .current-item span {
  color: $gray-10;
}

.divider {
  margin: $spacing-03 $spacing-05;
  border-color: theme.$border-subtle-00;
  border-style: solid;
  border-bottom: none;
}

.divider-space {
  margin-top: $spacing-03;
  margin-bottom: $spacing-03;
}

// Moves icons to the right
.outboundLink {
  flex-direction: row-reverse;
  justify-content: space-between;
}
