.bx--side-nav {
  width: rem(256px);
  will-change: transform;
  transition: $transition--expansion transform $carbon--standard-easing;
  transform: translateX(0);
}

.side-nav__closed,
.side-nav__closed--final {
  transform: translateX(-(rem(256px)));
  border-right-width: 0px;
}

@include carbon--breakpoint("lg") {
  .bx--side-nav.side-nav,
  .side-nav__closed,
  .side-nav__closed--final {
    border-right-width: 1px;
    transform: translateX(0);
  }
  .bx--side-nav__item {
    width: auto;
    height: auto;
  }
}
