{
  "extends": ["wesbos"],
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-no-useless-fragment": 1,
    "no-useless-escape": 0
  }
}
