.row [class*="--col-lg"] {
  border-top: 1px solid $carbon--gray-20;
}

.row [class*="--col-lg"]:nth-child(2n) {
  @include carbon--breakpoint("lg") {
    margin-right: 33%;
  }
}

// Borders for cards at the medium breakpoint

.row [class*="--col-lg"]:nth-child(-n + 2) {
  @include carbon--breakpoint("md") {
    border-top: 0px solid transparent;
  }
}

.row [class*="--col-lg"]:nth-child(even) {
  @include carbon--breakpoint("md") {
    border-left: 1px solid $carbon--gray-20;
  }
}

// Borders for dark cards at medium breakpoint

.row
  [class*="--col-lg"]:nth-child(-n + 2)
  .#{$prefix}--resource-card.#{$prefix}--resource-card--dark {
  border-top-color: $carbon--black-100;
}

// Borders for stacking MiniCards within a column

.row [class*="--col-lg"] a:nth-child(n + 2) [class*="MiniCard-module--card--"] {
  border-top: 1px solid $carbon--gray-20;
}

// .row [class*="--col-lg"] [class*="MiniCard-module--card--"]:nth-child(-n + 3) {
//   @include carbon--breakpoint("lg") {
//     border-top: 0px solid transparent;
//   }
// }

// .row [class*="--col-lg"] [class*="MiniCard-module--card--"]:nth-child(odd) {
//   @include carbon--breakpoint("lg") {
//     border-left: 1px solid $carbon--gray-20;
//   }
// }
