@import '~carbon-components/scss/globals/scss/helper-mixins';

.video {
  width: 100%;
}

.video-container {
  display: table;
  position: relative;
  width: 100%;
}

div.video-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-60;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  z-index: 10;
  transition: all $duration--moderate-01 motion(entrance, productive);
}

div.video-button:focus {
  outline: 2px solid $focus;
  outline-offset: -2px;
}

div.video-button:hover {
  background-color: $gray-90;
  opacity: 0.8;
}

div.video-button > svg {
  fill: $white-0;
  margin-left: 4px;
  transition: all $duration--moderate-01 motion(entrance, productive);
}

div.video--is-playing > svg {
  margin-left: 0px;
}

// iframe
.vimeo {
  position: relative;
  height: 0px;
  overflow: hidden;
  padding-bottom: 56.543%;

  iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.video-container:not(:hover) div.video--is-playing,
.video-container:not(:hover) div.video--is-playing > svg {
  opacity: 0;
}
