.#{$prefix}--video {
  margin-bottom: $spacing-08;
  width: 100%;
}

// iframe
.#{$prefix}--video--vimeo {
  position: relative;
  height: 0px;
  overflow: hidden;
  padding-bottom: 56.543%;

  iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
