
//Tile groups
// Set spacing to the right of the group
.resource-tile-group .#{$prefix}--col-lg-4:nth-child(2) {
  @include carbon--breakpoint('lg') {
      margin-right: 33%;
  }
}

// set border between tiles
.resource-tile-group .#{$prefix}--resource-tile {
  border-top: 1px solid $carbon--gray-20;
}

.resource-tile-group .#{$prefix}--resource-tile--dark {
  border-top-color: 1px solid $carbon--black-100;
}

.resource-tile-group .#{$prefix}--col-lg-4:first-child .#{$prefix}--resource-tile,
.resource-tile-group .#{$prefix}--col-lg-4:nth-child(2) .#{$prefix}--resource-tile {
  border-top: 0px solid transparent;
}

.resource-tile-group .#{$prefix}--col-lg-4:nth-child(odd) .#{$prefix}--resource-tile {
  border-left: 1px solid transparent;
}

.resource-tile-group .#{$prefix}--col-lg-4:nth-child(even) .#{$prefix}--resource-tile {
  border-left: 1px solid $carbon--gray-20;
}

.resource-tile-group .#{$prefix}--col-lg-4:nth-child(even) .#{$prefix}--resource-tile--dark {
  border-left-color: $carbon--black-100;
}
// Set spacing to the right of the group
.resource-tile-group .#{$prefix}--col-lg-4:nth-child(2) {
  @include carbon--breakpoint('lg') {
      margin-right: 33%;
  }
}

// set border between tiles
.resource-tile-group .#{$prefix}--resource-tile {
  border-top: 1px solid $carbon--gray-20;
}

.resource-tile-group .#{$prefix}--resource-tile--dark {
  border-top-color: 1px solid $carbon--black-100;
}

.resource-tile-group .#{$prefix}--col-lg-4:first-child .#{$prefix}--resource-tile,
.resource-tile-group .#{$prefix}--col-lg-4:nth-child(2) .#{$prefix}--resource-tile {
  border-top: 0px solid transparent;
}

.resource-tile-group .#{$prefix}--col-lg-4:nth-child(odd) .#{$prefix}--resource-tile {
  border-left: 1px solid transparent;
}

.resource-tile-group .#{$prefix}--col-lg-4:nth-child(even) .#{$prefix}--resource-tile {
  border-left: 1px solid $carbon--gray-20;
}

.resource-tile-group .#{$prefix}--col-lg-4:nth-child(even) .#{$prefix}--resource-tile--dark {
  border-left-color: $carbon--black-100;
}