// Square Card Group
:global(.square-card-group) > * {
  margin-bottom: 0;
}
.squareCard {
  //overrides global vertical spacing
  --space: 0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid transparent;

  @include breakpoint('md') {
    border-left: 1px solid #e0e0e0;
  }
}

:global(.square-card-group) .squareCard:first-child {
  border-top: 0 solid transparent;
}
:global(.square-card-group) .squareCard:nth-child(2) {
  @include breakpoint('md') {
    border-top: 0 solid transparent;
  }
}
:global(.square-card-group) .squareCard:nth-child(3) {
  @include breakpoint('lg') {
    border-top: 0 solid transparent;
  }
}
:global(.square-card-group) .squareCard:nth-child(2n + 1) {
  @include breakpoint('md') {
    border-left: 1px solid transparent;
  }

  @include breakpoint('lg') {
    border-left: 1px solid #e0e0e0;
  }
}
:global(.square-card-group) .squareCard:nth-child(3n + 1) {
  @include breakpoint('lg') {
    border-left: 1px solid transparent;
  }
}

.squareCard :global(.cds--tile) {
  height: 100%;
  padding: $spacing-05 15% $spacing-05 $spacing-05;
  position: relative;
  text-decoration: none;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: calc(100% - 1px); // 1px to offset negative `left` positioning
    height: calc(100% - 1px); // 1px to offset negative `top` positioning
    outline: 3px solid transparent;
    outline-offset: -3px;
    transition: outline motion(standard, productive) $duration-fast-01;
  }
}

// Dark
.darkMode :global(.cds--tile) {
  background: $gray-90; //$ui-background for gray 90 theme
}

.squareCard :global(.cds--tile:focus) {
  outline: none;

  &::after {
    outline: 3px solid $focus;
  }
}

.title {
  @include type-style('productive-heading-04');

  text-decoration: none;
  position: relative;
  z-index: 1;

  @include breakpoint-between('lg', 'xlg') {
    @include type-style('productive-heading-03');
  }
}

.titleSmall {
  @include type-style('productive-heading-03');

  @include breakpoint-between('lg', 'xlg') {
    @include type-style('productive-heading-02');
  }
}

.body {
  @include type-style('body-short-02');

  padding-top: $spacing-05;
}

.titleSmall + .body {
  @include breakpoint-between('lg', 'xlg') {
    padding-top: 0;
  }
}

.helperText {
  @include type-style('body-short-01');

  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: flex-end;
  padding-right: $spacing-07;
  margin-right: $spacing-06;
}

.helperIcon {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: flex-end;
}

.actionIcon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
}

.darkMode :global(.cds--tile:hover) {
  background: $gray-80; //$hover-ui for gray 90 theme
}

.darkMode .title,
.darkMode .body,
.darkMode .helperText {
  color: $text-04;
}

.darkMode .actionIcon svg,
.darkMode .helperIcon svg {
  fill: $gray-10;
}

// Disabled
.disabled {
  cursor: not-allowed;
}

.disabled :global(.cds--tile:hover) {
  background: $ui-01;
  cursor: not-allowed;
}

.disabled .title,
.disabled .body,
.disabled .helperText {
  color: $disabled-03;
}

.disabled .actionIcon svg,
.disabled .helperIcon svg {
  fill: $disabled-02;
}
