.nav {
  color: $inverse-01;
  z-index: 10000;
  position: fixed;
  right: 0;
  top: 48px;
  height: 100%;
  width: 16rem;
  background-color: $ui-05;
  border-left: 1px solid $inverse-02;
  transform: translateX(16rem);
  overflow-y: hidden;
  transition: all $duration--fast-02 carbon--motion("exit");
  @include carbon--breakpoint("lg") {
    transform: translateX(0);
    max-height: 0;
    height: auto;
  }
}

.nav li {
  &:first-of-type {
    margin-top: $spacing-05;
  }
  &:last-of-type {
    margin-bottom: $spacing-05;
  }
}

.open {
  transform: translateX(0);
  transition: all $duration--moderate-01 carbon--motion("entrance");
  border-bottom: 1px solid $inverse-02;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
  @include carbon--breakpoint("lg") {
    // https://css-tricks.com/using-css-transitions-auto-dimensions/
    // Tied to the height of the app switcher. Allows for animating up to auto.
    // Matching the height exactly is imperitive to keep the correct animation timing.
    max-height: 508px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); // header__menu shadow
  }
}

.divider {
  margin: 32px 1rem 0 1rem;
  color: $carbon--gray-70;
  padding-bottom: 4px;
  border-bottom: 1px solid $carbon--gray-70;
  margin-bottom: 8px;
}

.divider span {
  @include carbon--type-style("caption-01");
  color: $carbon--gray-30;
}

.link {
  padding: 6px 1rem;
  @include carbon--type-style("heading-01");
  display: block;
  text-decoration: none;
  color: $carbon--gray-30;

  &:hover {
    background: #353535;
    color: $carbon--gray-10;
  }

  &:focus {
    outline: 2px solid $inverse-01;
    outline-offset: -2px;
  }
}

.link--disabled {
  padding: 6px $spacing-05;
  @include carbon--type-style("heading-01");
  display: block;
  color: $carbon--gray-60;
}
