//---------------------------------------
// P
//---------------------------------------

.paragraph {
  @include type-style('body-long-02');
  padding-left: $spacing-05;
  padding-right: $spacing-05;

  @include breakpoint('md') {
    padding-right: $spacing-07;
  }
}

// Responsive by default
.paragraph--responsive {
  // 8 col
  @include breakpoint('md') {
    width: 75%;
  }

  // 8 col
  @include breakpoint('lg') {
    width: 66.667%;
  }
}

//---------------------------------------
// Lists OL and UL
//---------------------------------------

ol.ordered {
  margin-left: $spacing-06;
  width: calc(100% - $spacing-05);

  @include breakpoint('md') {
    width: calc(75% - $spacing-07);
  }

  @include breakpoint('lg') {
    width: calc(66.667% - $spacing-07);
  }
}

ul.unordered {
  width: calc(100% - $spacing-05);

  @include breakpoint('md') {
    width: calc(75% - $spacing-07);
  }

  @include breakpoint('lg') {
    width: calc(66.667% - $spacing-07);
  }
}

//---------------------------------------
// Responsive widths
//---------------------------------------

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding-right: $spacing-05;
  margin-right: 0;
  margin-left: 0;

  @include breakpoint('md') {
    width: 75%;
    padding-right: $spacing-07;
    margin-right: 0;
    margin-left: 0;
  }

  @include breakpoint('lg') {
    width: 66.667%;
  }
}

.h4 + * {
  --space: 0;
}

//---------------------------------------
// Blockquote
//---------------------------------------
div {
  .blockquote {
    margin: $spacing-08 0;
    color: $text-01;
    margin-left: $spacing-05;
    padding-left: 1ch;
    @include breakpoint('md') {
      margin-left: $spacing-08;
    }
  }

  .blockquote .paragraph {
    position: relative;
    @include type-style('expressive-heading-03', true);
    font-style: italic;
    margin-bottom: 0;
    width: 100%;
  }

  .blockquote .paragraph--responsive {
    // 8 col
    @include breakpoint('lg') {
      width: calc(66.667% - 3rem);
    }
  }
}

// If quote is inside a user specified row then allow the grid code to set the width
:global(.cds--row) .blockquote .paragraph {
  @include breakpoint('md') {
    width: 100%;
  }
}

.blockquote cite {
  @include type-style('body-long-01');
  font-style: italic;
  display: block;
  margin-top: $spacing-02;
  text-indent: 0;
}

// If paragraph is inside a user specified row then allow the grid code to set the width and padding
:global(.cds--row .cds--row) .paragraph {
  width: 100%;
  padding-left: 0;

  @include breakpoint('md') {
    padding-right: 0;
  }
}

//---------------------------------------
// Headings
//---------------------------------------

.h1 {
  --space: #{$spacing-12};
  margin-top: var(--space);
  @include type-style('expressive-heading-05', true);
}

.h2,
h2.h2 {
  --space: #{$spacing-11};
  margin-top: var(--space);
  @include type-style('expressive-heading-04', true);
}

.h3 {
  --space: #{$spacing-10};
  margin-top: var(--space);
  @include type-style('expressive-heading-03', true);
}

.h4 {
  --space: #{$spacing-07};
  margin-top: var(--space);
  @include type-style('heading-02');
}

.h5,
.h6 {
  --space: 0;
  @include type-style('heading-01');
}

.sup {
  font-feature-settings: 'sups' on;
}

.abbr:global(.cds--tooltip--definition) button {
  font-size: 1em;
}
//---------------------------------------
// Images
//---------------------------------------

//needed for proper spacing for image with caption
img {
  display: block;
}

span:has(:global(.gatsby-resp-image-wrapper)) {
  display: block;
}
