//---------------------------------------
// P
//---------------------------------------
.#{$prefix}--paragraph {
  @include carbon--type-style('body-long-02');
  margin-bottom: $spacing-06;
}

// Responsive by default
.#{$prefix}--paragraph--responsive {
  // simulate column padding
  padding-left: 1rem;
  padding-right: 1rem;

  // 7 columns wide
  @include carbon--breakpoint('md') {
    width: 62.5%;
  }

  // 5 columns wide
  @include carbon--breakpoint('lg') {
    width: 58.333%;
  }
}

// If paragraph is inside a user specified row then allow the grid code to set the width
.#{$prefix}--row .#{$prefix}--paragraph {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
