//---------------------------------------
// P
//---------------------------------------
.#{$prefix}--paragraph {
  @include carbon--type-style('body-long-02');
  margin-bottom: $spacing-06;
  padding-right: $spacing-05;
}

// Responsive by default
.#{$prefix}--paragraph--responsive {
  // 5 columns wide
  @include carbon--breakpoint('md') {
    width: 62.5%;
  }

  // 8 columns wide
  @include carbon--breakpoint('lg') {
    width: 66.667%;
  }
}

// If paragraph is inside a user specified row then allow the grid code to set the width
.#{$prefix}--row .#{$prefix}--paragraph {
  width: 100%;
}
