//---------------------------------------
// P
//---------------------------------------
.paragraph {
  @include carbon--type-style('body-long-02');
  margin-bottom: $spacing-06;
  padding-right: $spacing-07;
}

// Responsive by default
.paragraph--responsive {
  margin-left: -$spacing-05;
  padding-left: $spacing-05;

  // 6 col
  @include carbon--breakpoint('md') {
    width: 75%;
  }

  // 8 col
  @include carbon--breakpoint('lg') {
    width: 66.667%;
  }
}

// If paragraph is inside a user specified row then allow the grid code to set the width
:global(.#{$prefix}--row) .paragraph {
  width: calc(100% - 1rem);
}

//---------------------------------------
// Blockquote
//---------------------------------------
.blockquote {
  margin: $spacing-08 0 $spacing-08 $spacing-08;
  color: $carbon--blue-60;
  font-style: italic;
}

.blockquote .paragraph {
  @include carbon--type-style('expressive-heading-03');
  margin-bottom: 0;
}

.blockquote .paragraph--responsive {
  // 6 col
  @include carbon--breakpoint('md') {
    width: calc(75% - 3rem);
  }

  // 8 col
  @include carbon--breakpoint('lg') {
    width: calc(66.667% - 3rem);
  }
}

// If quote is inside a user specified row then allow the grid code to set the width
:global(.#{$prefix}--row) .blockquote .paragraph {
  width: calc(100% - 3rem);
}

.blockquote cite {
  @include carbon--type-style('body-long-01');
  display: block;
  margin-top: $spacing-02;
}

//---------------------------------------
// Responsive widths
//---------------------------------------

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.ordered,
.unordered {
  width: 100%;
  @include carbon--breakpoint('md') {
    width: 75%;
  }
  @include carbon--breakpoint('lg') {
    width: 58.33%;
  }
}

//---------------------------------------
// Headings
//---------------------------------------

.h1 {
  margin-top: 4.5rem;
  margin-bottom: $spacing-05;
  @include carbon--type-style('expressive-heading-05', true);
}

.h2 {
  margin-top: 4.5rem;
  margin-bottom: $spacing-05;
  @include carbon--type-style('expressive-heading-04', true);
}

.h3 {
  margin-top: 4.5rem;
  margin-bottom: $spacing-05;
  @include carbon--type-style('expressive-heading-03', true);
}

.h4 {
  margin-top: $spacing-04;
  @include carbon--type-style('heading-02');
}

.h5,
.h6 {
  // h5 and h6 intentionally mimic one another
  margin-top: $spacing-04;
  @include carbon--type-style('heading-01');
}

