//---------------------------------------
// P
//---------------------------------------
.#{$prefix}--paragraph {
  @include carbon--type-style('body-long-02');
  margin-bottom: $spacing-06;
  padding-right: $spacing-07;
}

// Responsive by default
.#{$prefix}--paragraph--responsive {
  margin-left: -$spacing-05;
  padding-left: $spacing-05;

  // 5 columns wide
  @include carbon--breakpoint('md') {
    width: calc(63%);
  }

  // 8 columns wide
  @include carbon--breakpoint('lg') {
    width: calc(67.3%);
  }
}

// If paragraph is inside a user specified row then allow the grid code to set the width
.#{$prefix}--row .#{$prefix}--paragraph {
  width: calc(100% - 1rem);
}

//---------------------------------------
// Blockquote
//---------------------------------------
.#{$prefix}--blockquote {
  margin: $spacing-08 0 $spacing-08 $spacing-08;
  color: $carbon--blue-60;
  font-style: italic;
}

.#{$prefix}--blockquote .#{$prefix}--paragraph {
  @include carbon--type-style('expressive-heading-03');
  @include carbon--breakpoint('md') {
    width: calc(62.5% - 3rem);
  }

  // 8 columns wide
  @include carbon--breakpoint('lg') {
    width: calc(66.667% - 3rem);
  }
}
