.accordionGroupWrapper {
  margin-bottom: 3rem;
}

.accordionGroupHeader {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FFFFFF;
  font-size: 1rem;
}

.noGutter {
  margin-left: -1rem;
  margin-right: -1rem;
  width: auto;  
}