.container {
  position: relative;
}

.container input.input {
  height: 3rem;
}

.list {
  position: absolute;
  z-index: z('floating');
  left: 0;
  right: 0;
  top: 3rem;
  background-color: $ui-05;
  border: 1px solid $inverse-02;
  border-top: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.description {
  @include carbon--type-style('caption-01');
  color: $carbon--gray-30;
}

.link {
  padding: 6px $spacing-05;
  cursor: pointer;
  @include carbon--type-style('heading-01');
  transition: all $duration--fast-01 motion(standard, productive);
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $carbon--gray-30;

  &:hover {
    background: #353535;
    color: $carbon--gray-10;
    .description {
      color: $carbon--gray-10;
    }
  }

  &:focus {
    outline: 2px solid $carbon--white-0;
    outline-offset: -2px;
    .description {
      color: $carbon--gray-10;
    }
  }
}
