@import '~carbon-components/scss/globals/scss/layout';

.header button {
  svg {
    margin-top: $spacing-02;
  }
}

header.header {
  transition: top $duration--fast-02;
  background-color: $ui-05;
  border-bottom: 1px solid $inverse-02;
  z-index: z('floating');
}

.header.hidden {
  top: -48px;
}

.header :global(.bx--header__action--menu) {
  border-width: 2px;
  display: block;

  @include carbon--breakpoint('lg') {
    display: none;
  }
}

.header :global(.bx--header__name) {
  @include carbon--type-style('body-short-02');
  padding-left: $spacing-03;

  @include carbon--breakpoint('lg') {
    padding-left: $spacing-05;
  }
}

.header :global(.bx--header__name):focus {
  box-shadow: none;
}

.header :global(.bx--header__name) span {
  font-weight: 600;
}

.header .switcher-button--open {
  border-left: 1px solid $inverse-02;
  border-bottom: 1px solid #171717;
}
