@import '~carbon-components/scss/globals/scss/layout';

// Creates the blue line under the active accordion menu item
.currentPageAccordion::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid $carbon--blue-60;
  content: '';
}

// Changes the background color of an active item in a menu.
.currentPageAccordion :global(.bx--header__menu-item--current) {
  background-color: $carbon--gray-80;
}

// Removes the blue line that sits under an active item in menu.
.currentPageAccordion :global(.bx--header__menu-item--current)::after {
  display: none;
}

// Overrides the style from upstream Carbon for non-accordion menu items
.currentPage :global(.bx--header__menu-item--current)::after {
  border-bottom: 4px solid $carbon--blue-60;
  width: calc(100% + 4px);
  left: -2px;
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.header {
  background-color: $carbon--gray-100;
  z-index: 10000; /* old z('floating') #940 */
}

:global(.bx--header__global) {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 3rem);
  @include carbon--breakpoint('lg') {
    position: static;
    width: auto;
  }
}

.header :global(.bx--header__action--menu) {
  border: none;
  top: 0.5px;
  position: relative;
  flex-shrink: 0;
  &:focus {
    outline: 2px solid $carbon--white-0;
    outline-offset: -2px;
  }
  @include carbon--breakpoint('lg') {
    display: none;
  }
}

.header :global(.bx--header__action--menu.bx--header__action--active) {
  background-color: $carbon--gray-100;
  border-right: 1px solid $inverse-02;

  @include carbon--breakpoint('lg') {
    display: none;
  }
}

.header :global(.bx--header__name):focus {
  box-shadow: none;
}

.headerName span {
  font-weight: 600;
}

.header .skip-to-content {
  color: $carbon--white-0;
}

.header .skip-to-content:focus {
  border: 2px solid $carbon--white-0;
  margin: 0;
}

.headerName {
  @include carbon--type-style('body-short-02');
  transition: opacity $duration--fast-02 $carbon--standard-easing;
  color: $carbon--white-0;
  text-decoration: none;
  left: 3rem;
  white-space: nowrap;
  padding: 0 $spacing-05;
  height: 3rem;
  border-top: 1px solid transparent;
  display: flex;
  align-items: center;
  &:focus {
    outline: 2px solid $carbon--white-0;
    outline-offset: -2px;
  }

  @include carbon--breakpoint('lg') {
    left: 0;
    width: calc(25% + 1rem);
    max-width: 384px;
  }
}

.header .header-button {
  flex-shrink: 0;
  transition: background-color $duration--fast-02 $carbon--standard-easing;
}

// Switcher button, extra specificity to override Carbon styles
// Hex values used pending shell theming
.header .header-button.switcher-button {
  background-color: $carbon--gray-100;
  position: relative;
  border: none;
  border-color: $ui-05;
  border-bottom: 1px solid $carbon--gray-80;
  &:focus {
    outline: 2px solid $carbon--white-0;
    outline-offset: -2px;
  }
  &:hover {
    background-color: $carbon--gray-80;
  }
  &:active {
    background-color: #3d3d3d;
    border-left: 1px solid $ui-05;
    border-right: 1px solid $ui-05;
  }
}

.header-button.switcher-button.switcher-button--open {
  border: 1px solid transparent;
  border-left: 1px solid $carbon--gray-80;
  border-bottom: 1px solid $carbon--gray-100;
  background-color: $carbon--gray-100;
  &:active {
    border-left: 1px solid $carbon--white-0;
  }
}
