.page-description p {
  @include carbon--type-style('expressive-heading-03', true);
  margin-bottom: $layout-03;

  // 6 col
  @include carbon--breakpoint('md') {
    width: 75%;
  }

  // 8 col
  @include carbon--breakpoint('lg') {
    width: 66.667%;
  }
}

.page-description code {
  font-size: 0.75em;
  line-height: 1.25;
}
