.page-header {
  background: $carbon--black-100;
  color: $inverse-01;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: rem(240px);
}

.page-header__title {
  padding-left: 1rem;
  margin-bottom: $layout-xs;
  margin-top: auto;
}
