@import '~carbon-components/scss/globals/scss/vars';
@import '~@carbon/elements/scss/type/type';
@import '~carbon-components/scss/globals/scss/layout';

.page-header {
  background: $carbon--black-100;
  color: $inverse-01;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 15rem;
  transition: top $duration--fast-02;
}

.text {
  @include carbon--type-style('display-01', true);
  margin-bottom: $spacing-06;
  margin-top: auto;
  @include carbon--breakpoint('lg') {
    padding-left: calc(
      25% + 2rem
    ); //2rem to account for 2rem left padding default on grid
  }

  @include carbon--breakpoint('max') {
    padding-left: 400px;
  }
}

.page-header--sticky {
  position: sticky;
  z-index: z('header');
  top: -9rem;
}

.page-header--sticky.page-header--shifted {
  top: -12rem;
}
