@import '~carbon-components/scss/globals/scss/vars';
@import '~@carbon/elements/scss/type/type';
@import '~carbon-components/scss/globals/scss/layout';

.page-header {
  background: $carbon--black-100;
  color: $inverse-01;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: top $duration--fast-02;
}

.text {
  @include carbon--type-style('display-01', true);
  margin-bottom: $spacing-07;
  margin-top: auto;
}

.text-container {
  height: 20rem;
  display: flex;
  align-items: flex-end;
}

.text-container--tabs {
  height: 17rem;
}

.page-header--sticky {
  position: sticky;
  z-index: z('header');
  top: -9rem;
}

.page-header--sticky.page-header--shifted {
  top: -12rem;
}
