@import '~carbon-components/scss/globals/scss/vars';
@import '~@carbon/elements/scss/type/type';

nav.tab-container {
  margin-left: -$spacing-05;
  min-height: 2.5rem;
  width: 100vw;
  @include carbon--breakpoint('md') {
    width: 100%;
  }
}

nav.tab-container .tab {
  margin-left: 0;
  background-color: $ui-background;
  padding-left: $spacing-05;
  padding-right: $spacing-05;
  height: 3rem;
  transition: background-color $duration--fast-02;

  &:last-of-type {
    border-right: none;
  }

  &:hover {
    background: $hover-selected-ui;
  }

  @include carbon--breakpoint('md') {
    border-right: 1px solid $active-ui;
    height: 2.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}

nav.tab-container .tab a {
  height: 3rem;
  padding-top: $spacing-05;
  transition: background-color $duration--fast-02;
  color: $text-01;
  border-bottom: 1px solid #d8d8d8 !important;
  margin-left: 0;
  background-color: transparent;

  &:active {
    padding-top: $spacing-05;
    padding-left: 0;
  }

  @include carbon--breakpoint('md') {
    padding-top: $spacing-04;
    height: 2.5rem;
    background-color: $selected-ui;
    min-width: 10rem;
    border-bottom: none !important;

    &:hover {
      background: $hover-selected-ui;
    }

    &[aria-selected='true'] {
      background-color: $ui-background;
      padding-top: 9px;
      padding-left: $spacing-05;
      border-top: 3px solid $interactive-01 !important;
    }

    &:active:not([aria-selected='true']) {
      padding-top: $spacing-04;
      padding-left: $spacing-05;
    }
  }
}

.tab-container .tab:last-of-type a {
  border-bottom: none !important;
}

// Dropdown container
nav.tab-container div {
  background-color: $ui-background;
  height: 3rem;
  border-top: 3px solid $interactive-01;
  border-bottom: 1px solid #d8d8d8;
}

// Active dropdown item
nav.tab-container div a {
  font-weight: 600;
  padding: 0;
}

.tab-contents {
  padding: $spacing-06;
  padding-top: $spacing-09;
  background: $ui-background;
  margin-left: -$spacing-05;
  width: 100vw;
  @include carbon--breakpoint('md') {
    width: 100%;
  }
}
