.listRow {
  background: $ui-01;
  padding: 1rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $ui-03;
}

.listRow:not(:first-child) {
  margin-top: 0;
}

.listRow:last-child {
  border-bottom: none;
}

.title {
  @include type-style('expressive-heading-03', true);

  padding-right: 2rem;
}

.expressive_04 {
  @include type-style('expressive-heading-04', true);

  @include breakpoint-down('lg') {
    padding: 1rem;
  }

  @include breakpoint-down('md') {
    @include type-style('expressive-heading-03', true);
  }
}

.expressive_02 {
  @include type-style('expressive-heading-02', true);
}

.content {
  @include type-style('body-long-02');
}

.pictogramContent {
  padding-right: 2rem;
}
