.listRow {
  padding: 1rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $ui-03;
}

:global(.expressive-content-list-group) > .listRow:not(:first-child) {
  margin-top: 0;
}

.background {
  background: $ui-01;
}

.title {
  @include carbon--type-style('expressive-heading-04', true);

  padding-right: 32px;
}

.expressive_03 {
  @include carbon--type-style('expressive-heading-03', true);
}

.expressive_02 {
  @include carbon--type-style('expressive-heading-02', true);
}

.content {
  @include carbon--type-style('body-long-02');
}
