.accordion :global(.bx--accordion__content) {
  padding-right: 4rem;
}

.accordion :global(.bx--accordion__heading) {
  padding-top: $spacing-04;
  padding-bottom: $spacing-04;
}

.accordion :global(.bx--accordion__title) {
  @include carbon--type-style('heading-02');
  padding-right: $spacing-07;
}

.accordion :global(.bx--accordion__content) p {
  @include carbon--type-style('body-long-02');
}
