.#{$prefix}--caption {
  @include carbon--type-style('body-short-01');
  padding-top: $spacing-03;
  margin-bottom: $spacing-06;
  margin-top: -$spacing-06; // to account for default spacing below images
}

// Full width
.#{$prefix}--caption--responsive {
  // 4 columns wide
  @include carbon--breakpoint('lg') {
    width: 50%;
  }

  // 4 columns wide
  @include carbon--breakpoint('lg') {
    width: 33.333%;
  }
}

// If caption is inside a user specified row then allow the grid code to set the width
.#{$prefix}--row .#{$prefix}--caption {
  width: 100%;
}
