.spacing-table td {
  vertical-align: top;
}

.page-table,
.component-docs table {
  line-height: 1.25;
  width: calc(100%);

  @include carbon--breakpoint('md') {
    min-width: calc(67.3%);
  }

  thead {
    th {
      @include carbon--type-style('heading-01');
      color: $text-01;
      padding: $spacing-md;
      text-align: left;
      white-space: nowrap;
      background: $carbon--white-0;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $ui-03;

      td {
        @include carbon--type-style('body-short-01');
        color: $text-01;
        padding: $spacing-md;

        img[src$='checkmark--glyph.svg'] {
          width: 16px;
          height: 16px;
          margin: 0;
        }

        strong {
          font-weight: font-weight('semibold');
        }

        @include carbon--breakpoint('lg') {
          min-width: rem(100px);
        }

        @include carbon--breakpoint('xlg') {
          min-width: rem(150px);
        }
      }
    }
  }
}

.component-docs p {
  @include carbon--breakpoint('md') {
    max-width: 75%;
  }

  @include carbon--breakpoint('lg') {
    max-width: 55%;
  }
}

.component-docs table {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-top: rem(16px);

  @include carbon--breakpoint('md') {
    max-width: 75%;
  }

  @include carbon--breakpoint('lg') {
    max-width: 50%;
  }
}

.page-table__container {
  overflow-x: auto;
}

// dark background
.container--dark .page-table thead th {
  background: $carbon--gray-90;
  color: $inverse-01;
}

.container--dark .page-table td {
  color: $inverse-01;
}
