// carbon--breakpoint
@use '~@carbon/react/scss/breakpoint' as *;
// $spacing-0X
@use '~@carbon/react/scss/spacing' as *;
// carbon--type-style
@use '~@carbon/react/scss/type' as *;
// color tokens
@use '~@carbon/react/scss/compat/theme' as *;

.spacing-table td {
  vertical-align: top;
}

.page-table,
.component-docs table {
  line-height: 1.25;
  width: calc(100%);

  @include breakpoint('md') {
    min-width: calc(67.3%);
  }

  thead {
    th {
      @include type-style('heading-01');
      color: $text-01;
      padding: $spacing-05;
      text-align: left;
      white-space: nowrap;
      background: $ui-01;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $ui-03;

      td {
        @include type-style('body-short-01');
        color: $text-01;
        padding: $spacing-05;

        img[src$='checkmark--glyph.svg'] {
          width: 16px;
          height: 16px;
          margin: 0;
        }

        strong {
          font-weight: font-weight('semibold');
        }

        @include breakpoint('lg') {
          min-width: 6.25rem;
        }

        @include breakpoint('xlg') {
          min-width: 9.375rem;
        }
      }
    }
  }
}

.component-docs p {
  @include breakpoint('md') {
    max-width: 75%;
  }

  @include breakpoint('lg') {
    max-width: 55%;
  }
}

.component-docs table {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-top: 1rem;

  @include breakpoint('md') {
    max-width: 75%;
  }

  @include breakpoint('lg') {
    max-width: 50%;
  }
}

.page-table__container {
  overflow-x: auto;
}
