.grid {
  width: 100%;
  max-width: 100%;
}

.grid a {
  color: currentColor;
  text-decoration-thickness: 1px;
}

.row {
  padding-top: $layout-05;
  padding-bottom: $layout-05;
  max-width: 74.25rem;
}

.firstColumn {
  @include carbon--type-style('expressive-heading-03', true);
  margin-bottom: $spacing-07;
}

.firstColumn p {
  @include carbon--type-style('expressive-heading-03', true);
  margin-top: $spacing-02;
}

.secondColumn,
.secondColumn p {
  @include carbon--type-style('expressive-paragraph-01', true);
}
