.container--homepage {
  background: $carbon--gray-100;
  color: $carbon--white-0;

  a {
    color: $carbon--blue-40;
  }
}

// Homepage image header area

.homepage--header {
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  position: relative;

  // Match max height at lg breakpoint
  @include carbon--breakpoint('lg') {
    padding: 0;
    height: 560px;
  }
}

.homepage--header .#{$prefix}--grid,
.homepage--header .#{$prefix}--row {
  height: 100%;
}

.container--homepage h3.homepage--header__title {
  @include carbon--type-style('expressive-heading-03', true);
  display: none;
  font-weight: 600;
  position: absolute;
  bottom: 3.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 3;

  @include carbon--breakpoint('md') {
    display: block;
  }
}

.homepage--header img {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25%;
}

// Dots background pattern

.homepage--dots {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3e%3crect width='16' fill='none' height='16'/%3e%3crect x='0' y='0' fill='white' width='1' height='1'/%3e%3c/svg%3e");
  background-size: 16px;
  opacity: 0.25;
}

// Needed for dots to appear below content

.container--homepage .#{$prefix}--grid {
  margin: 0;
  max-width: 100%;
  @include carbon--breakpoint('lg') {
    padding-left: calc(
      25% + 2rem
    ); //2rem to account for 2rem left padding default on grid
  }

  @include carbon--breakpoint('max') {
    padding-left: 400px;
  }
}

.container--homepage .#{$prefix}--col-no-gutter {
  padding: 0;
}
