//---------------------------------------
// Button
//---------------------------------------

.component-example .button .bx--btn {
  margin: 0.5rem;
}

//---------------------------------------
// Notification
//---------------------------------------

.component-example__live.component-example__live--notification
  .component-example__live--rendered
  > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.component-example .bx--inline-notification {
  display: inline-flex;
}

//---------------------------------------
// Loading
//---------------------------------------

.component-example .loading .bx--loading-overlay {
  position: absolute;
}

//---------------------------------------
// Date Picker
//---------------------------------------

// TODO

//---------------------------------------
// Form
//---------------------------------------

.component-example__live .bx--form-item,
.component-example .bx--form-item {
  margin-bottom: 2rem;
}

.component-example .bx--form-item.bx--checkbox-wrapper {
  margin-bottom: .5rem;
}

//---------------------------------------
// Tabs
//---------------------------------------

.component-example__live--tabs .bx--tabs__nav {
  position: static;
}


.component-example__live .tabs .bx--tabs + div {
  margin-top: 2rem;
}

//---------------------------------------
// Tile
//---------------------------------------

.component-example__live--tile .bx--grid {
  outline: 1px dashed #97c1ff;
}

.component-example__live--tile .bx--tile-container .bx--col {
  background: none;
  margin-bottom: 1rem;
}

//---------------------------------------
// UI Shell
//---------------------------------------

.component-example__live--ui-shell {
  position: relative;
}

.component-example__live--ui-shell .bx--header,
.component-example__live--ui-shell .bx--side-nav {
  position: absolute;
}

//---------------------------------------
// Date picker
//---------------------------------------

.component-example .flatpickr-calendar {
  margin-left: -1rem;
  margin-top: -1rem;
}

//---------------------------------------
// Tooltip
//---------------------------------------

.component-example__live .bx--tooltip {
  margin-left: -1rem;
  margin-top: -.5rem;
}
