$prefix: 'bx';

//---------------------------------------
// Carbon Components
//---------------------------------------
$feature-flags: (
  ui-shell: true,
  grid-columns-16: false,
);

// Carbon globals/helpers
@import '~carbon-components/scss/globals/grid/grid';

@import '~carbon-components/scss/globals/scss/layout';

// Typography
@include carbon--type-reset();
@import '~@carbon/elements/scss/type/classes';

// special characters (arrows)
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&text=←→↑↓↔↕↖↗↘↙↚↛↮⟵⟶⟷↰↱↲↳⬐⬎⬑⬏↴↵');

$font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Courier, monospace;

//---------------------------------------
// Global styles
//---------------------------------------
body {
  background: $ui-05;
}

//---------------------------------------
// CSS reset overrides
//---------------------------------------
body em {
  font-style: italic;
}

body button {
  font-family: inherit;
}
