//---------------------------------------
// Carbon Components
//---------------------------------------

$feature-flags: (
  ui-shell: true,
  grid-columns-16: false,
);

$prefix: 'bx';

// Carbon globals/helpers
@import '~carbon-components/scss/globals/grid/grid';
@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/layout';

// Typography
@include carbon--type-reset();
@import '~@carbon/elements/scss/type/classes';

// special characters (arrows)
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&text=←→↑↓↔↕↖↗↘↙↚↛↮⟵⟶⟷↰↱↲↳⬐⬎⬑⬏↴↵');

$font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Courier, monospace;

// Carbon components
@import '~carbon-components/scss/components/ui-shell/ui-shell';
@import '~carbon-components/scss/components/tile/tile';
@import '~carbon-components/scss/components/code-snippet/code-snippet';
@import '~carbon-components/scss/components/button/button';
@import '~carbon-components/scss/components/tabs/tabs';

@import '~@carbon/addons-website/scss/components/website-grid';
@import '~@carbon/addons-website/scss/components/website-header';
@import '~@carbon/addons-website/scss/components/website-header-nav';
@import '~@carbon/addons-website/scss/components/website-side-nav';
@import '~@carbon/addons-website/scss/components/website-back-to-top-btn';

//---------------------------------------
// Page styles
//---------------------------------------

@import 'page';

@import '../components/markdown/markdown.scss';
@import '../components/Homepage/homepage.scss';
@import '../components/GlobalSearch/global-search.scss';
@import '../components/PageTable/page-table.scss';
@import '../components/DoDontExample/do-dont-example.scss';
@import '../components/AnchorLinks/anchor-links.scss';
@import '../components/Caption/caption.scss';
@import '../components/ResourceCard/resource-card.scss';
@import '../components/ResourceCard/resource-card-group.scss';
@import '../components/ArticleCard/article-card.scss';
@import '../components/Aside/aside.scss';
@import '../components/Code/code.scss';
@import '../components/FeatureCard/feature-card.scss';
@import '../components/ImageCard/image-card.scss';
@import '../components/ImageCard/aspect-ratio.scss';

//---------------------------------------
// Included last to ensure that class
// names take precedence over includes
// inside component class names
//---------------------------------------
@include carbon--type-classes();
