@use '~@carbon/react/scss/type' as *;

// Base global
@use './internal/global';

// Global stylesheet to inject global dependencies via shadowing
@use 'global' as shadowGlobal;

//---------------------------------------
// Page styles
//---------------------------------------

@use './internal/page';
@use '../components/Homepage/homepage.scss';
@use '../components/PageTable/page-table.scss';
@use '../components/DoDontExample/do-dont-example.scss';
@use '../components/ResourceCard/resource-card.scss';
@use '../components/ResourceCard/resource-card-group.scss';
@use '../components/ArticleCard/article-card.scss';
@use '../components/FeatureCard/feature-card.scss';
@use '../components/ImageCard/image-card.scss';

//---------------------------------------
// Included last to ensure that class
// names take precedence over includes
// inside component class names
//---------------------------------------
@include type-classes();
