//---------------------------------------
// Carbon Components
//---------------------------------------
@import '~@carbon/elements/scss/layout/convert';
@import '~@carbon/elements/scss/layout/breakpoint';
@import '~@carbon/elements/scss/layout/layout';
@import '~@carbon/elements/scss/grid/grid';
@import '~@carbon/elements/scss/colors/colors';

@import '~@carbon/elements/scss/type/type';

@import '~@carbon/elements/scss/type/classes';

@include carbon--type-reset();

// special characters (arrows)
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&text=←→↑↓↔↕↖↗↘↙↚↛↮⟵⟶⟷↰↱↲↳⬐⬎⬑⬏↴↵');

$font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Courier, monospace;

$feature-flags: (
  ui-shell: true,
  grid-columns-16: false,
);

$prefix: 'bx';

@import '~carbon-components/scss/globals/scss/styles';

@import '~@carbon/addons-website/scss/components/website-grid';
@import '~@carbon/addons-website/scss/components/404';
@import '~@carbon/addons-website/scss/components/website-footer';
@import '~@carbon/addons-website/scss/components/website-switcher';
@import '~@carbon/addons-website/scss/components/website-header';
@import '~@carbon/addons-website/scss/components/website-header-nav';
@import '~@carbon/addons-website/scss/components/website-side-nav';
@import '~@carbon/addons-website/scss/components/website-back-to-top-btn';

//---------------------------------------
// Page styles
//---------------------------------------

@import 'page';

@import '../components/markdown/markdown.scss';
@import '../components/Homepage/homepage.scss';
@import '../components/GlobalSearch/global-search.scss';
@import '../components/PageTable/page-table.scss';
@import '../components/DoDontExample/do-dont-example.scss';
@import '../components/AnchorLinks/anchor-links.scss';
@import '../components/Caption/caption.scss';
@import '../components/ResourceCard/resource-card.scss';
@import '../components/ResourceCard/resource-card-group.scss';
@import '../components/ArticleCard/article-card.scss';
@import '../components/Aside/aside.scss';
@import '../components/Video/video.scss';
@import '../components/Code/code.scss';
@import '../components/FeatureCard/feature-card.scss';

//---------------------------------------
// Included last to ensure that class
// names take precedence over includes
// inside component class names
//---------------------------------------
@include carbon--type-classes();
