//---------------------------------------
// Carbon Components
//---------------------------------------
@import '~@carbon/elements/scss/layout/convert';
@import '~@carbon/elements/scss/layout/breakpoint';
@import '~@carbon/elements/scss/layout/layout';
@import '~@carbon/elements/scss/grid/grid';

@import '~@carbon/elements/scss/type/type';
@import '~@carbon/elements/scss/type/font-face/sans';
@import '~@carbon/elements/scss/type/font-face/serif';
@import '~@carbon/elements/scss/type/font-face/mono';
@import '~@carbon/elements/scss/type/classes';

@import '~@carbon/elements/scss/colors/colors';

@include carbon--type-reset();
// @include carbon--font-face-mono();
@include carbon--font-face-sans();
@include carbon--font-face-serif();
@include carbon--type-classes();

$feature-flags: (
  ui-shell: true,
  grid-columns-16: false,
);

$prefix: 'bx';

@import '~carbon-components/scss/globals/scss/styles';

@import '~@carbon/addons-website/scss/components/website-grid';
@import '~@carbon/addons-website/scss/components/404';
@import '~@carbon/addons-website/scss/components/website-footer';
@import '~@carbon/addons-website/scss/components/website-switcher';
@import '~@carbon/addons-website/scss/components/website-header';
@import '~@carbon/addons-website/scss/components/website-header-nav';
@import '~@carbon/addons-website/scss/components/website-side-nav';
@import '~@carbon/addons-website/scss/components/website-back-to-top-btn';
@import '~@carbon/addons-website/scss/components/website-code-snippet';

$font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

//---------------------------------------
// Page styles
//---------------------------------------

@import 'page';

@import '../components/Homepage/homepage.scss';
@import '../components/GlobalSearch/global-search.scss';
@import '../components/NextPrevious/next-previous.scss';
@import '../components/PageHeader/page-header.scss';
@import '../components/PageTable/page-table.scss';
@import '../components/PageTabs/page-tabs.scss';
@import '../components/DoDontExample/do-dont-example.scss';
@import '../components/AnchorLinks/anchor-links.scss';
@import '../components/Caption/caption.scss';
@import '../components/ResourceTile/resource-tile.scss';
//@import '../components/ImageComponent/image-component.scss'; //WIP
