.image-button-wrapper {
  border: 0;
  background: none;
  padding: 0;
  margin-bottom: $spacing-06;
  outline: none;
}

.image-button-wrapper:focus img {
  outline: 2px solid $focus;
  outline-offset: -2px;
}

.image-title {
  position: absolute;
  display: block;
  width: 100%;
  align-self: flex-start;
  left: $spacing-07;
  color: $text-04;
  font-weight: bold;
  margin: $spacing-09 $spacing-07;
  user-select: none;
}

.image-in-dialog {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  user-select: none;
}
