.wrapper {
  background: $gray-90;
  color: $text-04;
}

.grid {
  max-width: 99rem;
}

.link-container {
  height: 8rem;
}

.link {
  padding: 0;
  transition: background $duration-fast-02 $standard-easing;

  &:hover {
    color: $white-0;
    background: $gray-80;
  }
}

.link a {
  padding: 1rem;
  text-decoration: none;
  display: block;
  height: 100%;
  color: $white-0;
  outline-offset: -2px; //needed for focus state to be visible
}

.direction {
  @include type-style('body-short-01');
}

.name {
  @include type-style('expressive-heading-03', true);
  padding-bottom: $spacing-05;
}

.isHomepage {
  visibility: hidden;
}
