.container {
  @include carbon--theme(
    $theme: $carbon--theme--g90,
    $emit-custom-properties: true
  );

  position: fixed;
  bottom: $spacing-09;
  right: $spacing-07;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: z('floating');
}

.container > button {
  margin-top: $spacing-03;
}
