.link {
  @include type-style('body-short-01');
  transition: color $transition-base;
  color: currentColor;

  &:hover {
    color: $inverse-hover-ui;
  }
}

.row {
  position: relative;
  top: 9rem;
}
