.link {
  @include carbon--type-style('body-short-01');
  transition: color $transition--base;
  color: $text-01;

  &:hover {
    color: $text-01;
  }
}

.row {
  position: relative;
  top: 9rem;
}

.text {
  @include carbon--type-style('body-long-01');
  color: $carbon--gray-70;
}

:global(.container--dark) .link {
  color: $carbon--white-0;

  &:hover {
    color: $carbon--white-0;
  }
}
