.link {
  @include carbon--type-style('body-short-01');
  transition: color $transition--base;
  color: var(--cds-text-01);

  &:hover {
    color: $hover-secondary;
  }
}

.row {
  position: relative;
  top: 9rem;
}
