.notification :global(.bx--inline-notification) {
  max-width: 100%;
  box-shadow: none;
  border: 1px solid $inverse-support-04;
}

.notification :global(.bx--inline-notification--error) {
  border-color: $inverse-support-01;
}

.notification :global(.bx--inline-notification--success) {
  border-color: $inverse-support-02;
}

.notification :global(.bx--inline-notification--warning) {
  border-color: $inverse-support-03;
}

.notification :global(.bx--inline-notification__subtitle p) {
  @include carbon--type-style('body-short-01');
}

.notification :global(.bx--inline-notification__subtitle .bx--row) {
  margin: 0;
}
