$prefix: 'cds';

// Disable feature flag warning
$did-warn-diverged-feature-flags: true;

//---------------------------------------
// Carbon Components
//---------------------------------------
$feature-flags: (
  ui-shell: true,
  grid-columns-16: false,
  enable-css-custom-properties: true,
);

// Carbon styles
@use '@carbon/react';
@use '@carbon/react/scss/type';

// Typography
@use '@carbon/elements/scss/type/classes';
@use 'plex';
@include type.reset();


//---------------------------------------
// Global styles
//---------------------------------------

body {
  background: $carbon--black-100;
  color: $text-01;
}

// prevents jank while page hydrates
.body--preload * {
  transition: none !important;
}

::-moz-focus-inner {
  border: 0;
}

// Global links
a:focus {
  outline: 2px solid $focus;
}

//---------------------------------------
// CSS reset overrides
//---------------------------------------
body em {
  font-style: italic;
}

body button {
  font-family: inherit;
}
