// Modifiers.

/// Background color modifier definitions.
/// @type Map<String, Color>
/// @access private
$modifiers--color: (
  high-contrast: $ui-05,
  black-100: $carbon--black-100,
  white-0: $carbon--white-0,
  red-10: $carbon--red-10,
  red-20: $carbon--red-20,
  red-30: $carbon--red-30,
  red-40: $carbon--red-40,
  red-50: $carbon--red-50,
  red-60: $carbon--red-60,
  red-70: $carbon--red-70,
  red-80: $carbon--red-80,
  red-90: $carbon--red-90,
  red-100: $carbon--red-100,
  magenta-10: $carbon--magenta-10,
  magenta-20: $carbon--magenta-20,
  magenta-30: $carbon--magenta-30,
  magenta-40: $carbon--magenta-40,
  magenta-50: $carbon--magenta-50,
  magenta-60: $carbon--magenta-60,
  magenta-70: $carbon--magenta-70,
  magenta-80: $carbon--magenta-80,
  magenta-90: $carbon--magenta-90,
  magenta-100: $carbon--magenta-100,
  purple-10: $carbon--magenta-10,
  purple-20: $carbon--magenta-20,
  purple-30: $carbon--magenta-30,
  purple-40: $carbon--magenta-40,
  purple-50: $carbon--magenta-50,
  purple-60: $carbon--magenta-60,
  purple-70: $carbon--magenta-70,
  purple-80: $carbon--magenta-80,
  purple-90: $carbon--magenta-90,
  purple-100: $carbon--magenta-100,
  blue-10: $carbon--blue-10,
  blue-20: $carbon--blue-20,
  blue-30: $carbon--blue-30,
  blue-40: $carbon--blue-40,
  blue-50: $carbon--blue-50,
  blue-60: $carbon--blue-60,
  blue-70: $carbon--blue-70,
  blue-80: $carbon--blue-80,
  blue-90: $carbon--blue-90,
  blue-100: $carbon--blue-100,
  cyan-10: $carbon--cyan-10,
  cyan-20: $carbon--cyan-20,
  cyan-30: $carbon--cyan-30,
  cyan-40: $carbon--cyan-40,
  cyan-50: $carbon--cyan-50,
  cyan-60: $carbon--cyan-60,
  cyan-70: $carbon--cyan-70,
  cyan-80: $carbon--cyan-80,
  cyan-90: $carbon--cyan-90,
  cyan-100: $carbon--cyan-100,
  teal-10: $carbon--teal-10,
  teal-20: $carbon--teal-20,
  teal-30: $carbon--teal-30,
  teal-40: $carbon--teal-40,
  teal-50: $carbon--teal-50,
  teal-60: $carbon--teal-60,
  teal-70: $carbon--teal-70,
  teal-80: $carbon--teal-80,
  teal-90: $carbon--teal-90,
  teal-100: $carbon--teal-100,
  green10: $carbon--green-10,
  green20: $carbon--green-20,
  green30: $carbon--green-30,
  green40: $carbon--green-40,
  green50: $carbon--green-50,
  green60: $carbon--green-60,
  green70: $carbon--green-70,
  green80: $carbon--green-80,
  green90: $carbon--green-90,
  green100: $carbon--green-100,
  coolGray10: $carbon--cool-gray-10,
  coolGray20: $carbon--cool-gray-20,
  coolGray30: $carbon--cool-gray-30,
  coolGray40: $carbon--cool-gray-40,
  coolGray50: $carbon--cool-gray-50,
  coolGray60: $carbon--cool-gray-60,
  coolGray70: $carbon--cool-gray-70,
  coolGray80: $carbon--cool-gray-80,
  coolGray90: $carbon--cool-gray-90,
  coolGray100: $carbon--cool-gray-100,
  gray10: $carbon--gray-10,
  gray20: $carbon--gray-20,
  gray30: $carbon--gray-30,
  gray40: $carbon--gray-40,
  gray50: $carbon--gray-50,
  gray60: $carbon--gray-60,
  gray70: $carbon--gray-70,
  gray80: $carbon--gray-80,
  gray90: $carbon--gray-90,
  gray100: $carbon--gray-100,
  warmGray10: $carbon--warm-gray-10,
  warmGray20: $carbon--warm-gray-20,
  warmGray30: $carbon--warm-gray-30,
  warmGray40: $carbon--warm-gray-40,
  warmGray50: $carbon--warm-gray-50,
  warmGray60: $carbon--warm-gray-60,
  warmGray70: $carbon--warm-gray-70,
  warmGray80: $carbon--warm-gray-80,
  warmGray90: $carbon--warm-gray-90,
  warmGray100: $carbon--warm-gray-100,
);

/// Color value to use within the modifiers.
/// @type Color
/// @access private
$value--color: null;

/// Modifier generator for colors.
/// @access private
@mixin modifiers--color {
  @each $color, $value in $modifiers--color {
    &--#{$color} {
      $value--color--previous: $value--color;
      $value--color: $value !global;

      @content;

      $value--color: $value--color--previous !global;
    }
  }
}

/// Background color modifiers.
/// @access public
/// @example
///   <Component className="bg--black-100" />
.bg {
  @include modifiers--color {
    background-color: $value--color !important;
  }
}

/// Color modifiers.
/// @access public
/// @example
///   <Component className="color--black-100" />
.color {
  @include modifiers--color {
    color: $value--color;
  }
}
