// These resources get shared with every css module.
// We only want to import variables/mixins/helpers, not things that generate css.
@import '~@carbon/elements/scss/themes/theme-maps';

$carbon--theme: $carbon--theme--g10;
