.button {
  width: $spacing-09;
  height: $spacing-09;
  border-radius: 50%;
  border-color: transparent;
  background: $interactive-02; //g60
  transition: all $duration--fast-02;
  z-index: z('modal');
  padding-top: 0.325rem;
  cursor: pointer;
  position: fixed;
  bottom: $spacing-06;
  right: $spacing-05;

  @include carbon--breakpoint('md') {
    bottom: $spacing-09;
    right: $spacing-07;
  }
}

.button svg {
  fill: $icon-03;
}

.button:hover {
  background: $hover-secondary; // g80 hover
}

.button:focus {
  outline: none;
  border: 2px solid var(--cds-inverse-focus-ui);
  box-shadow: inset 0 0 0 1px $inverse-01;
}

[class*='container--dark'] {
  .button {
    background: $carbon--gray-60;
    &:hover {
      background: #606060;
    }
  }
}
