.landmarks-active main,
.landmarks-active [role='main'] {
  border: 5px solid blue;
  position: relative;
}

.landmarks-active main::after,
.landmarks-active [role='main']::after {
  content: 'main';
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 5rem;
  background: blue;
  color: white;
  text-align: center;
}

.landmarks-active nav,
.landmarks-active [role='nav'] {
  border: 5px solid green;
}

.landmarks-active nav::after,
.landmarks-active [role='nav']::after {
  content: 'nav';
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 5rem;
  background: green;
  color: white;
  text-align: center;
}

.landmarks-active [role='banner'] {
  border: 5px solid grey;
}

.landmarks-active [role='banner']::after {
  content: 'banner';
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 5rem;
  background: grey;
  color: white;
  text-align: center;
}

.landmarks-active [role='complementary'] {
  border: 5px solid maroon;
}

.landmarks-active [role='complementary']::after {
  content: 'complementary';
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 5rem;
  background: maroon;
  color: white;
  text-align: center;
}

.landmarks-active [role='contentinfo'] {
  border: 5px solid olive;
}

.landmarks-active [role='contentinfo']::after {
  content: 'contentinfo';
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 5rem;
  background: grey;
  color: white;
  text-align: center;
}

.landmarks-active [role='search'] {
  border: 5px solid purple;
}

.landmarks-active [role='search']::after {
  content: 'search';
  position: absolute;
  line-height: 1.75rem;
  right: 2rem;
  bottom: -2rem;
  height: 2rem;
  width: 5rem;
  background: purple;
  color: white;
  text-align: center;
}

.landmarks-active [role='form'] {
  border: 5px solid red;
}

.landmarks-active [role='form']::after {
  content: 'form';
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 5rem;
  background: grey;
  color: white;
  text-align: center;
}

.landmarks-active [role='application'] {
  border: 5px solid orange;
}

.landmarks-active [role='application']::after {
  content: 'application';
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 5rem;
  background: orange;
  color: white;
  text-align: center;
}

.landmarks-button {
  position: fixed;
  bottom: calc(9.5rem + 8px);
  right: $spacing-07;
  z-index: z('modal');
  width: $spacing-09;
  height: $spacing-09;
  border-radius: 50%;
  border-color: transparent;
  background: $interactive-02;
}

.landmarks-button svg {
  fill: $icon-03;
}

.landmarks-button:focus {
  outline: none;
  border: 2px solid $focus;
  box-shadow: inset 0 0 0 1px #fff;
}

.landmarks-modal {
  position: fixed;
  bottom: calc(13.5rem + 8px);
  right: $spacing-07;
  height: 10rem;
  width: 10rem;
  background: $ui-02;
}
