@import '~carbon-components/scss/globals/scss/vars';

.header {
  position: relative;
  &:hover {
    .anchor {
      opacity: 1;
    }
  }
}

.anchor {
  opacity: 0;
  transition: opacity $duration--fast-01 $carbon--standard-easing;
  position: absolute;
  left: -$spacing-06;
  top: 0;
  &:hover,
  &:active {
    opacity: 1;
  }
  svg {
    fill: $interactive-01;
  }
}
